spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/task_management_system
    username: postgres
    password: michael

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: 8080

logging:
  level:
    root: INFO
    org.hibernate.SQL: DEBUG
