spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/task_management_system
    username: postgres
    password: Tartor
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: false
    fail-on-unsupported-database: false
    locations: classpath:db/migration

server:
  port: 8080

logging:
  level:
    root: INFO
    org.hibernate.SQL: DEBUG
